{% extends "colored/base.html.twig" %}

{% block body %}
    {{ encore_entry_link_tags('navbar-colored') }}
    {% if code == 206 or code == 200 %}
        <div class="{% if code == 206 %}alert alert-warning{% else %}alert alert-success{% endif %}">{{ code | trans }}</div>
    {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center text-center flex-column m-4">
            <div class="col-lg-12 mb-5 mt-5">
                <h1>Ekwipunek gracza {{ app.user.username }}</h1>
                <h2 class="colored">Odbierz swoje przedmioty!</h2>
            </div>

            {% if userItemList | length > 1 %}
                <form action="{{ path('item-list-profile') }}" method="post">
                    <button class="gs-submit w-50">Wypłać wszystko</button>
                </form>
            {% endif %}


            {% if userItemList is empty %}
                Nieznaleziono przedmiotów do wypłaty
            {% endif %}
            <div class="row justify-content-center ml-5 mr-5">
                {% for item in userItemList %}
                    <div class="col-md-12 col-lg-6 p-5">
                        <div class="item w-100 p-4 d-flex justify-content-between align-items-center flex-column">
                            <img src="{{ asset('/assets/images/' ~ item.icon) }}" class="item-icon-equipment">
                            <div class="pt-3 text-left w-100 ">
                                <h3 class="font-weight-bold">{{ item.name | upper }}</h3>
                                {% for s in server %}
                                    {% if s.id == item.item.itemList.serverId %}
                                        <h5>Dotyczy serwera: {{ s.name }}</h5>
                                    {% endif %}
                                {% endfor %}
                                <p>Sztuk: {{ item.quantity }}</p>
                                <form action="{{ path('item-profile') }}" method="post">
                                    <input type="hidden" name="itemId" value="{{ item.id }}"/>
                                    <button class="gs-accept float-right">Odbierz</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}