{% extends 'base/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginStyle') }}
{% endblock %}

{% block body %}
    <div class="container pt-5">
        {% if send %}
            <div class="alert alert-info">Jeżeli takie konto istnieje, to email powinieneś otrzymać email z linkiem do resetowania hasła. Sprawdź swoją skrzynkę pocztową.</div>
        {% endif %}
        <div class="col-12 m-auto bg-darker d-flex">
            <div class="col-lg-8 p-3 m-auto">
                {{ form_start(form, {action: '/reset'}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.reCaptcha) }}
                {{ form_errors(form.reCaptcha) }}

                <div id="recaptcha-component"></div>

                <button class="btn btn-primary btn-block w-100" type="submit">{% trans %}Reset password{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
