{% extends 'colored/base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('navbar-colored') }}
    <div class="container-fluid">
        <div class="row justify-content-center m-4">
            {% if responseType != 402 %}
                {% if itemList is not empty %}
                    <div class="col-lg-12 mb-5 mt-5">
                        <h1>Kupiono {{ itemList.name }} za {{ itemList.afterPromotionPrice }} zł</h1>
                    </div>
                    <div class="card-body">
                        <img src="{{ itemList.icon }}" alt="{{ itemList.name }}" class="item-icon-payment"/>
                        <br/>
                        <p>Zapraszamy do zabawy z nowo zakupionym pakietem!!!</p>
                    </div>
                {% elseif responseType != 429 %}
                    <div class="col-lg-12 mb-5 mt-5">
                        <h1>Doładowałeś swoje konto!</h1>
                    </div>
                    <div class="card-body">
                        <span>Możesz teraz wykorzystać środki ze swojego konta prepaid!</span>
                    </div>
                {% endif %}
                {% if responseType == 206 %}
                    <div class="col-lg-12 mb-5 mt-5">
                        <h1>Nie udało sie wypłacić wszystkich przedmiotów. Zostaną one przypisane do twojego ekwipunku</h1>
                    </div>
                    <div class="card-body">
                        <a href="{{ path('equipment-profile') }}" class="btn btn-block btn-info w-50 m-auto">Sprzawdź
                            swój
                            ekwipunek</a>
                    </div>
                {% elseif responseType == 429 %}
                    <div class="col-lg-12 mb-5 mt-5">
                        <h1>Ta płatnośc została już wykonana</h1>
                    </div>
                    <div class="card-body">
                        <h3>Wybrana opcja płatności została już zarejetrowana w systemie. Nie można wykonac jej
                            ponownie!</h3>
                        <br/>
                        <a href="{{ path('equipment-profile') }}" class="btn btn-block btn-info w-50 m-auto">Sprzawdź
                            swój
                            ekwipunek</a>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-12 mb-5 mt-5">
                    <h1>Ups! Coś poszło nie tak ...</h1>
                </div>
                <div class="card-body">
                    <p>Prawodpodobnie wskazana przez ciebie płatność nie istnieje!</p>
                    <p>Jeżeli wszystko wykonałeś prawidłowo, to nie masz się czym przejmować. Przedmioty zostaną dodane
                        do
                        twojego ekwpiunku maksymalnie do 24h, a jeżeli będziesz dalej w grze, otrzymasz je na
                        serwerze!</p>
                    <p>Przepraszamy za niedogodności.</p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
