<div class="text-center">
    <hr/>
    <div class="main-context">
        {% for s in server %}
            {% if s.id == app.session.get('serverId') %}
                {% if s.message is not defined %}
                    <h1 class="text-info">Coś o nas?</h1>
                    <h2 class="h4">Jesteśmy jedyną siecią w Polsce, która stara się na bieżąco rozwiązywać problemy
                        swoich
                        graczy!</h2>
                    <br/>
                    <ol class="list-style-none">
                        <li>Nie zostajemy obojętni na wasze prośby. Staramy się pomóc najlepiej jak potrafimy!</li>
                        <li>Każda z osób z administracji jest wyspecjalizowana w swoim fachu! Każdy jest
                            niezastąpiony!
                        </li>
                        <li>Dzięki autorskim narzędziom deweloperskim oraz naszymi umiejętnościom</li>
                        <li>Robimy wszytko co w naszej mocy, aby rozgrywka była jak najbardziej przyjemna.</li>
                    </ol>
                    <div class="container mt-5">
                        <p>
                            Nasze serwery skupiają sie przede wszystkim na grze survivalu! W przyszłości pojawią się
                            także
                            inne tryby!
                            Posiadamy autorski system zabezpieczeń, który sprawia, że możecie grać zarówno jako gracze
                            premium ze wszystkimi przywilejami,
                            jak i non premium z koniecznością rejestracji.
                        </p>
                    </div>
                {% else %}
                    <h1 class="text-info">O serwerze</h1>
                    <div>{{ s.message | raw }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <hr/>
    <div class="main-context container">
        <h1 class="text-info">Nasza ekipa!</h1>
        {% set craftar = 'https://cravatar.eu/avatar/' %}
        <div class="row">
            {% for admin in admins %}
                <div class="col-sm-12 col-md-4 mt-3">
                    <div class="card">
                        {% if admin.skinUrl is not empty %}
                            <img class="card-img-top card-skin" src="{{ admin.skinUrl }}"
                                 alt="skin {{ admin.user.username }}">
                        {% else %}
                            <img class="card-img-top card-skin" src="{{ craftar }}{{ admin.user.username }}"
                                 alt="skin {{ admin.user.username }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ admin.user.username }}</h5>
                            <p class="card-text">{{ admin.description | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
