{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-dark text-light pb-5 vh-75">
        <div class="container pt-4 text-center">
            <h1>Obawiasz się naszego Launchera?</h1>
            <hr />
            <p>
                Już od 1 grudnia launcher <span style="color: #6441a5"><i class="fab fa-twitch"></i>Twitch</span>
                porzuca wsparcie dla instalacji modów z poziomu swojego Launchera!
                Cała funkcjonalność zostaje przeniesiona na nową aplikacje <span class="text-warning">Curseforge</span>.
                <br />
                <br />
                Możecie zagrać używając przygotowanej specjalnie dla was paczki
                <span class="text-warning">Curseforge!</span>
                Link nie działa? skorzystaj z zipa i zaimportuj profil do launchera
                <span class="text-warning">Curseforge!</span>
                Chcesz sprawdzić listę modyfikacji? Zapraszamy
                <a href="{{ path('modList') }}" class="text-danger text-center mt-2">tutaj!</a>
            </p>
            <br />
            <br />
        </div>

        <div class="row">
            <div class="slider-container position-relative">
                <div class="bg-image bg-blur position-absolute h-100 w-100"></div>
                <div id="carouselExampleControls" class="carousel slide h-100" data-ride="carousel">
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                            <img class="d-block m-auto h-100" src="{{ asset('assets/images/launcher.png') }}"
                                 alt="First slide">
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block m-auto h-100" src="{{ asset('assets/images/launcher2.png') }}"
                                 alt="Second slide">
                        </div>
                        <div class="carousel-item h-100 ">
                            <img class="d-block m-auto h-100" src="{{ asset('assets/images/launcher3.png') }}"
                                 alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div id="button-container" class="container">
                <div class="row">
                    <span class="col-3 p-3"><a href="https://www.curseforge.com/minecraft/modpacks/moderngame" class="btn btn-outline-warning btn-block" target="_blank">Curseforge Launcher</a></span>
                    <span class="col-3 p-3"><a href="{{ link }}" class="btn btn-outline-success btn-block"><i class="fas fa-download"></i>&nbsp;Nasz Launcher</a></span>
                    <span class="col-3 p-3"><a href="{{ individual }}" class="btn btn-outline-info btn-block"><i class="fas fa-download"></i>&nbsp;Paczka bez launchera</a></span>
                    <span class="col-3 p-3"><a href="{{ zip }}" class="btn btn-outline-warning btn-block" target="_blank">Curseforge ZIP</a></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
