{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(login_form, {action: 'login'}) }}
        {{ form_row(login_form._username) }}
        {{ form_row(login_form._password) }}

    <button class="btn btn-success" type="submit">{% trans %}Sign in{% endtrans %}</button>
    {{ form_end(login_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
