{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="container pt-2">
        <div class="row">
            {% include 'front/component/notLogged.html.twig' %}
            <div class="wallet-container alert alert-success">
                <i class="fas fa-wallet"></i>
                Stan twojego konta wynosi: {{ wallet.cash | number_format(2) }} zł.
            </div>
        </div>
    </div>

    <div class="text-center pt-5 mt-5">
        {% if responseType != 402 %}
            {% if itemList is not empty %}
                <h1 class="text-success">Kupiono {{ itemList.name }} za {{ itemList.afterPromotionPrice }} zł</h1>
                <img src="{{ itemList.icon }}" alt="{{ itemList.name }}"/>
                <br/>
                <p>Zapraszamy do zabawy z nowo zakupionym pakietem!!!</p>
            {% elseif responseType != 429 %}
                <h1 class="text-success">Doładowałeś swoje konto!</h1>
                <h2>Możesz teraz wykorzystać środki ze swojego konta prepaid!</h2>
                <br/>
            {% endif %}
            {% if responseType == 206 %}
                <p>Nie udało sie wypłacić wszystkich przedmiotów. Zostaną one przypisane do twojego ekwipunku</p>
                <a href="{{ path('equipment-profile') }}" class="btn btn-block btn-info w-50 m-auto">Sprzawdź swój
                    ekwipunek</a>
                <br/>
            {% elseif responseType == 429 %}
                <h1 class="text-danger">Ta płatnośc została już wykonana</h1>
                <h3>Wybrana opcja płatności została już zarejetrowana w systemie. Nie można wykonac jej ponownie!</h3>
                <br/>
                <a href="{{ path('equipment-profile') }}" class="btn btn-block btn-info w-50 m-auto">Sprzawdź swój
                    ekwipunek</a>
                <br/>
            {% endif %}
        {% else %}
            <h1 class="text-danger">Wystąpił błąd podczas kupowania przedmiotu!</h1>
            <p>Nie masz wystarczającej ilości środków na koncie</p>
        {% endif %}
    </div>
{% endblock %}
