{% extends 'front/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginStyle') }}
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="col-12 m-auto bg-darker d-flex">
            <div class="col-lg-8 p-3 m-auto">
                {{ form_start(form, {action: link }) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}

                <div id="recaptcha-component"></div>

                <button class="btn btn-primary btn-block w-100" type="submit">{% trans %}Reset password{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
