{% for article in articleList %}
    <div class="card bg-mngame">
        <div class="card-header">
            <h4 class="font-weight-bold">{{ article.title | raw }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ article.subhead | raw }}</h5>
            <p class="card-text">{{ article.shortText | raw }}</p>
            <a href="{{ path('show-article', {slug: article.id }) }}" class="btn btn-info">Czytaj więcej ...</a>
            <span class="author">
                ~{{ article.author }}&nbsp;
                <img class="avatar" src="https://cravatar.eu/avatar/{{ article.author }}" alt="{{ article.author }} avatar"/>
            </span>
        </div>
    </div>
{% endfor %}