<div class="d-inline-block pt-3">
    {% if global.facebook is defined %} <a href="{{ global.facebook }}" target="_blank"><span class="social social--facebook"></span></a> {% endif %}
    {% if global.youtube is defined %} <a href="{{ global.youtube }}" target="_blank"><span class="social social--youtube"></span></a> {% endif %}
    {% if global.instagram is defined %} <a href="{{ global.instagram }}" target="_blank"><span class="social social--instagram"></span></a> {% endif %}
    {% if global.discord is defined %} <a href="{{ global.discord }}" target="_blank"><span class="social social--discord"></span></a> {% endif %}
    {% if global.tiktok is defined %} <a href="{{ global.tiktok }}" target="_blank"><span class="social social--tiktok"></span></a> {% endif %}
    {% if global.teamspeak is defined %} <a href="{{ global.teamspeak }}" target="_blank"><span class="social social--teamspeak"></span></a> {% endif %}
</div>