{% extends 'colored/base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('navbar-colored') }}
    <div class="container-fluid">
        <div class="row justify-content-center flex-column m-4">
            <div class="col-lg-12 mb-5 mt-5 text-center">
                {% if article.image is defined %}
                    <div class="d-flex justify-content-center">
                        <img src="{{ article.image }}"/>
                    </div>
                {% endif %}
            </div>
            <div class="card bg-dark">
                <div class="card-header d-flex align-items-center">
                    <div class="d-flex flex-column">
                        <span class="font-weight-bold">{{ article.title | raw }}</span>
                        <div class="d-flex flex-row">
                            <span class="far fa-calendar">&nbsp;{{ article.createdAt|date('d.m.Y') }}&nbsp;</span>
                            <span class="fas fa-user">&nbsp;{{ article.author.username }}&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <p class="card-text text-center">{{ article.shortText | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
