{% extends "colored/base.html.twig" %}

{% block body %}
    {{ encore_entry_link_tags('navbar-colored') }}
    <div class="container-fluid">
        <div class="row justify-content-center m-lg-4 m-md-0 pb-4">
            <div class="col-lg-12 mb-5 mt-5 text-center">
                <h1>Zasady rozgrywki nas naszych serwerach</h1>
                <h2 class="colored">Przestrzegaj zasad, dzięki temu rozgrywka będzie fair play!</h2>
            </div>
            {% if message is defined %}
                <div class="alert alert-success m-3 p-3">
                    {{ message }}
                </div>
            {% endif %}

            <div class="col-md-12 col-lg-7 pr-lg-5 pr-md-1 mb-4">
                {{ form_start(contact_form) }}
                {{ form_row(contact_form.name) }}
                {{ form_row(contact_form.email) }}
                {{ form_row(contact_form.subject) }}
                {{ form_row(contact_form.type) }}
                {{ form_row(contact_form.message) }}

                <div id="recaptcha-component"></div>

                <button class="gs-submit" type="submit">WYŚLIJ</button>
                {{ form_end(contact_form) }}
            </div>

            <div class="col-md-12 col-lg-4 bg-light w-100 p-4">
                <div class="mb-2 font-weight-normal mb-5 pb-4">
                    <h5>Dział obsługi klienta</h5>
                    {% if global.mail1 is defined %}
                        <a href="mailto:{{ global.mail1 }}" class="pb-4 d-block">
                            <span class="d-flex align-items-center">
                                <svg width="37" height="29" viewBox="0 0 37 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91667 2.89286L15.9073 15.546C17.3392 16.9408 19.6608 16.9408 21.0927 15.546L34.0833 2.89286M3.83333 27H33.1667C34.1792 27 35 26.2005 35 25.2143V3.78571C35 2.79949 34.1792 2 33.1667 2H3.83333C2.82081 2 2 2.79949 2 3.78571V25.2143C2 26.2005 2.82081 27 3.83333 27Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                &nbsp;{{ global.mail1 }}
                            </span>
                        </a>
                    {% endif %}
                    {% if global.mail2 is defined %}
                        <a href="mailto:{{ global.mail2 }}" class="pb-4 d-block">
                            <span class="d-flex align-items-center">
                                <svg width="37" height="29" viewBox="0 0 37 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91667 2.89286L15.9073 15.546C17.3392 16.9408 19.6608 16.9408 21.0927 15.546L34.0833 2.89286M3.83333 27H33.1667C34.1792 27 35 26.2005 35 25.2143V3.78571C35 2.79949 34.1792 2 33.1667 2H3.83333C2.82081 2 2 2.79949 2 3.78571V25.2143C2 26.2005 2.82081 27 3.83333 27Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    &nbsp;{{ global.mail2 }}
                            </span>
                        </a>
                    {% endif %}
                    {% if global.mail3 is defined %}
                        <a href="mailto:{{ global.mail3 }}" class="pb-4 d-block">
                            <span class="d-flex align-items-center">
                                <svg width="37" height="29" viewBox="0 0 37 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.91667 2.89286L15.9073 15.546C17.3392 16.9408 19.6608 16.9408 21.0927 15.546L34.0833 2.89286M3.83333 27H33.1667C34.1792 27 35 26.2005 35 25.2143V3.78571C35 2.79949 34.1792 2 33.1667 2H3.83333C2.82081 2 2 2.79949 2 3.78571V25.2143C2 26.2005 2.82081 27 3.83333 27Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                &nbsp;{{ global.mail3 }}
                            </span>
                        </a>
                    {% endif %}
                </div>
                <h4>Dane kontaktowe</h4>
                <span class="font-weight-normal">
                    {{ global.siteContact | raw }}
                </span>
            </div>
        </div>
    </div>
{% endblock %}
