<div class="text-center">
    <hr/>
    <div class="main-context">
        <h1 class="text-info">Coś o nas?</h1>
        <h2 class="h4">Jesteśmy jedyną siecią na modach w Polsce, która stara się na bieżąco rozwiązywać problemy swoich
            graczy!</h2>
        <br/>
        <ol class="list-style-none">
            <li>Nie zostajemy obojętni na wasze prośby. Staramy się pomóc najlepiej jak potrafimy!</li>
            <li>Każda z osób z administracji jest wyspecjalizowana w sowim fachu! Każdy jest niezastąpiony!</li>
            <li>Optymalizujemy paczkę na bieżąco dzięki narzędziom deweloperskim.</li>
            <li>Posiadamy ponad 90 własnych <i class="text-danger">Craftingów</i> oraz spory system <i
                        class="text-danger">Questów</i></li>
            <li>Na bieżąco aktualizujemy paczki, by rozwiązać każdy bug.</li>
        </ol>
        <div class="container mt-5">
            <p>Nasze serwery skupiają sie przede wszystkim na grze survival. Obecnie w ofercie posiadamy serwer jedynie na modach, lecz jak tylko się rozrośniemy pojawią się i inne!
                Nie wymagamy by grać na naszym Launcherze, ale wielce to zalecamy, choćby przez wzgląd na autorski system zabezpieczeń, który sprawia, że możecie grać zarówno jako gracze premium, jak i non premium
                (tak, z naszego launchera da się zalogować na serwery premium np. Hypixel).</p>
        </div>
    </div>
    <hr/>
    <div class="main-context container">
        <h1 class="text-info">Nasza ekipa!</h1>
        {% set craftar = 'https://minotar.net/armor/body/' %}
        <div class="row">
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}thiccsnail" alt="skin Haderoth">
                    <div class="card-body">
                        <h5 class="card-title">Haderoth</h5>
                        <p class="card-text">Prawa ręka Adexa, w zasadzie robi wszystko na serwerze, od spawna i innych buildów po craftingi i część graficzną. [Łatwo go zdenerwować]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}Adexion" alt="skin Adexion">
                    <div class="card-body">
                        <h5 class="card-title">Adexion</h5>
                        <p class="card-text">Właściciel serwera i programista, odpowiada za działanie strony i pilnuje, żeby administracja była zgrana. [Bardzo zrównoważona osoba]</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-4 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}vPartus" alt="skin vPartus">
                    <div class="card-body">
                        <h5 class="card-title">vPartus</h5>
                        <p class="card-text">Złoty człowiek, główny administrator serwera, surowy i konsekwentny ale też sprawiedliwy. [Dobry w swojej roli, bezstronny]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}MrChibbi" alt="skin Olusqu">
                    <div class="card-body">
                        <h5 class="card-title">Olusqu</h5>
                        <p class="card-text">Serwerowy technik, konfig pluginów to dla niego chleb powszedni, cierpliwy i sumienny. [Zabawny i uprzejmy]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}iKEVAREZ" alt="skin iKEVAREZ">
                    <div class="card-body">
                        <h5 class="card-title">iKEVAREZ</h5>
                        <p class="card-text">Serwerowy woźny, sprząta wszelkie bugi i naprawia usterki - Odpowiada za nasz launcher i paczkę. [Sumienny i pracowity]</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-3 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}admini" alt="skin Marson">
                    <div class="card-body">
                        <h5 class="card-title">Platynowy_Marson</h5>
                        <p class="card-text">Community manager, odpowiada za pomoc i spokój na serwerze i stara się pomóc w potrzebie. [Bywa irytujący, ale nadaje się na swoją rolę]</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mt-3">
                <div class="card">
                    <img class="card-img-top card-skin" src="{{ craftar }}Jadswager" alt="skin adswager">
                    <div class="card-body">
                        <h5 class="card-title">adswager</h5>
                        <p class="card-text">Jedna z pierwszych osób, która wzięła się za rework paczki, ogólnie śmieszek i ogarnięty admin. [Leniuch, ale jak coś zacznie to to kończy]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
