{{ encore_entry_link_tags('nav') }}

<div class="nav-content position-fixed w-100">
    <a href="{{ path('index') }}" class="nav-link float-left left title title--small">MODERNGAME</a>
    <nav class="nav right position-absolute">
        <li class="nav-item"><a class="nav-link" href="{{ path('rule') }}">{% trans %}Rules{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('item-shop') }}">{% trans %}Itemshop{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('download') }}">{% trans %}Download{% endtrans %}</a></li>
        <li class="nav-item"><a class="nav-link" href="#">{% trans %}Contact{% endtrans %}</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img class="avatar" src="http://cravatar.eu/avatar/{{ app.user.username }}"
                         alt="{{ app.user.username }} avatar">
                    <span id="username">{{ app.user.username }}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('user-profile') }}">{% trans %}User panel{% endtrans %}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item bg-warning" href="{{ path('panel') }}">Panel Administracyjny</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">{% trans %}Sign in{% endtrans %}</a>
            </li>
        {% endif %}
    </nav>
</div>
