{{ encore_entry_link_tags('nav') }}

<div class="nav-content w-100">
    <div class="nav-item dropdown">
        <a class="nav-link float-left left title title--small dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MODERNGAME</a>
        <div class="dropdown-menu left">
            {% for s in server %}
                {% if s.src is defined %}
                    <form method="post" action="/">
                        <input name="serverId" type="hidden" value="{{ s.id }}"/>
                        <input class="nav-item bg-transparent border-0" type="submit" src="{{ s.src }}" alt="{{ s.name }}" value="{{ s.name }}"/>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <nav class="nav right">
        <span class="nav-item"><a class="nav-link" href="{{ path('rule') }}">{% trans %}Rules{% endtrans %}</a></span>
        <span class="nav-item"><a class="nav-link" href="{{ path('item-shop') }}">{% trans %}Itemshop{% endtrans %}</a></span>
        <span class="nav-item"><a class="nav-link" href="{{ path('faq-front') }}">{% trans %}FAQ{% endtrans %}</a></span>
        <span class="nav-item"><a class="nav-link" href="{{ path('tutorial-front') }}">{% trans %}Tutorial{% endtrans %}</a></span>
        <span class="nav-item"><a class="nav-link" href="{{ path('contact-front') }}">{% trans %}Contact{% endtrans %}</a></span>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <span class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img class="avatar" src="https://minotar.net/avatar/{{ app.user.username }}"
                         alt="{{ app.user.username }} avatar">
                    <span id="username">{{ app.user.username }}</span>
                </a>
                <span class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('user-profile') }}">{% trans %}User panel{% endtrans %}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item bg-warning" href="{{ path('panel') }}">Panel Administracyjny</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
                </span>
            </span>
        {% else %}
            <span class="nav-item"><a class="nav-link" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>
            </span>
            <span class="nav-item"><a class="nav-link" href="{{ path('login') }}">{% trans %}Sign in{% endtrans %}</a>
            </span>
        {% endif %}
    </nav>
</div>
