<div class="main-context">
    {% for s in server %}
        {% if s.id == app.session.get('serverId') %}
            {% if s.message is not defined %}
                <h1 class="text-info">Coś o nas?</h1>
                <h2 class="h4">Jesteśmy jedyną siecią w Polsce, która stara się na bieżąco rozwiązywać problemy
                    swoich
                    graczy!</h2>
                <br/>
                <ol class="list-style-none">
                    <li>Nie zostajemy obojętni na wasze prośby. Staramy się pomóc najlepiej jak potrafimy!</li>
                    <li>Każda z osób z administracji jest wyspecjalizowana w swoim fachu! Każdy jest
                        niezastąpiony!
                    </li>
                    <li>Dzięki autorskim narzędziom deweloperskim oraz naszymi umiejętnościom</li>
                    <li>Robimy wszytko co w naszej mocy, aby rozgrywka była jak najbardziej przyjemna.</li>
                </ol>
                <div class="container mt-2">
                    <span>
                        Nasze serwery skupiają sie przede wszystkim na grze survivalu! W przyszłości pojawią się
                        także
                        inne tryby!
                        Posiadamy autorski system zabezpieczeń, który sprawia, że możecie grać zarówno jako gracze
                        premium ze wszystkimi przywilejami,
                        jak i non premium z koniecznością rejestracji.
                    </span>
                </div>
            {% else %}
                <h1 class="text-info">O serwerze</h1>
                <div>{{ s.message | raw }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
<div class="main-context mt-5">
    <h1 class="text-info">Nasza ekipa!</h1>
    {% set craftar = 'https://minotar.net/avatar/' %}
    <div class="row justify-content-center">
        {% for admin in admins %}
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="card-body">
                        <img class="w-100 mb-3"
                             src="{% if admin.skinUrl is not empty %}{{ admin.skinUrl }}{% else %}{{ craftar }}{{ admin.user.username }}{% endif %}"
                             alt="skin {{ admin.user.username }}">
                        <h5 class="card-title">{{ admin.user.username | capitalize}}</h5>
                        <p class="card-text">{{ admin.description | raw }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>