<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'front/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}
</head>
<body class="bg-dark text-light">

<div class="p-5 position-absolute w-100 z-index-1 text-shadow">
    <h1 class="text-center">Wybierz serwer</h1>
</div>

<div class="d-flex bg-black">
    {% block body %}
        {% for s in server %}
            {% if loop.index - 1 < ((server | length - 1) / 2) %}
                {% set class = "server server--left" %}
            {% elseif loop.index - 1 == ((server | length - 1) / 2) %}
                {% set class = "server server--center" %}
            {% else %}
                {% set class = "server server--right" %}
            {% endif %}
            {% if s.src is defined %}
                <form method="post" class="flex-preset">
                    <input name="serverId" type="hidden" value="{{ s.id }}"/>
                    <input type="image" src="{{ s.src }}" alt="Serwer {{ s.name }}"
                           class="{{ class }} d-block w-100 vh-100"/>
                </form>
            {% endif %}
        {% endfor %}
    {% endblock %}
</div>
</body>
</html>
